
@{
    ViewData["Title"] = "EditArticle";
}


@model Article

<section id="admin" class="m-4">
    <div class="container">
        <div class="text-center">
            <h4>Section Administrateur</h4>
        </div>
        <div class="">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a asp-controller="Category" asp-action="CategoryAdmin" class="nav-link">Gestion des catégories</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Article" asp-action="ArticleAdmin" class="nav-link">Gestion des articles</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="User" asp-action="UserList" class="nav-link">Gestion des utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Cart" asp-action="CartList" class="nav-link">Gestion des paniers</a>
                </li>
            </ul>
        </div>

    </div>
</section>

<section class="m-4">
    <div class="container">
        @if ((ViewBag.errors != null))
        {
            if ((ViewBag.errors as List<string>).Count > 0)
            {
                <div class="alert alert-danger text-center" role="alert">
                    @foreach (string e in (ViewBag.errors as List<string>))
                    {
                        <div>
                            @e
                        </div>
                    }

                </div>
            }

        }

        @if (ViewBag.validation != null)
        {
            <div class="alert alert-warning text-center" role="alert">
                <div class="">
                    @ViewBag.validation
                </div>
            </div>
        }
    </div>
</section>

<section class="m-4">
    <div class="container">
        <div class="card">
            <div class="card-header text-center">
                <h6>Modifier un article</h6>
            </div>
            <div class="card-body">
                <form asp-controller="Article" asp-action="EditArticlePost" method="post" enctype="multipart/form-data">

                    @*<div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Catégorie</label>
            </div>
            <select name="IdCategory" class="custom-select" id="inputGroupSelect01">
                <option selected>@Model.IdCategory</option>
                @foreach (Category c in (ViewBag.Category as List<Category>))
                {
                    <option value="@c.Id">@c.Title</option>
                }
            </select>
        </div>*@
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Identifiant</span>
                        </div>
                        <input value="@Model.Id" name="Id" type="text" class="form-control" aria-label="Id" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Titre</span>
                        </div>
                        <input value="@Model.Title" name="Title" type="text" class="form-control" placeholder="Saisir le titre de l'article" aria-label="Title" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Auteur</span>
                        </div>
                        <input value="@Model.Author" name="Author" type="text" class="form-control" placeholder="Saisir un auteur" aria-label="Author" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Edition</span>
                        </div>
                        <input value="@Model.Edition" name="Edition" type="text" class="form-control" placeholder="Saisir un éditeur" aria-label="Edition" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Description</span>
                        </div>
                        <textarea value="@Model.Description" name="Description" type="text" class="form-control" placeholder="Saisir la description de l'article" aria-label="Description">@Model.Description</textarea>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Prix</span>
                        </div>
                        <input value="@Model.Price" name="Price" type="text" placeholder="Saisir le prix de l'article" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                            <span class="input-group-text">€</span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">image</span>
                        </div>
                        <input value="@Model.UrlImage" name="UrlImage" type="text" placeholder="image" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                            <span class="input-group-text">€</span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Image</span>
                        </div>
                        <div class="custom-file">
                            <input value="@Model.UrlImage" name="imageArticle" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choisir un fichier image</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-1">
                            <button class="btn btn-primary btn-block" type="submit">Valider</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>





