
@{
    ViewData["Title"] = "UserCart";
}

@model Cart
    <section>
        @if (ViewBag.validation != null)
        {
            <div class="alert alert-warning text-center" role="alert">
                <div class="">
                    @ViewBag.validation
                </div>
            </div>
        }
    </section>
<section>
    <div class="container">
        <div class="card">
            <div class="card-header text-center">
                <div class="col">
                    <a asp-controller="Home" asp-action="ListArticle" class="btn btn-outline-warning" >Retour aux articles</a>
                </div>
                <div class="col">
                    <h6>Votre panier</h6>
                </div>
            </div>
            <div class="card-body text-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Article(s)</th>
                            <th scope="col">Prix €</th>
                            <th scope="col"></th>
                            <th scope="col">Quantité</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CartArticle c in Model.Articles)
                        {
                        <tr>

                            <th>@c.Article.Title</th>
                            <th>@c.Article.Price</th>
                            <th scope="col"><a asp-controller="Cart" asp-action="RemoveArticleToCart" asp-route-id="@c.Article.Id">-</a></th>
                            <th scope="col">@c.Quantity</th>
                            <th scope="col"><a asp-controller="Cart" asp-action="AddArticleToCart" asp-route-id="@c.Article.Id">+</a></th>
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="card-body">
                    <div class="col">
                        Total : @Model.Total €
                    </div>
                    <div class="col">
                        <a class="btn btn-danger" asp-controller="Cart" , asp-action="SaveCart">Valider la commande</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


