@model User

<section id="admin" class="m-4">
    <div class="container">
        <div class="text-center">
            <h4>Section Administrateur</h4>
        </div>
        <div class="">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a asp-controller="Category" asp-action="CategoryAdmin" class="nav-link">Gestion des catégories</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Article" asp-action="ArticleAdmin" class="nav-link">Gestion des articles</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="User" asp-action="UserList" class="nav-link">Gestion des utilisateurs</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="userList" class="m-4">
    <div class="container">
        <div class="card">
            <div class="card-header text-center">
                <h6>Liste des utilisateurs</h6>
            </div>
            <div class="card-body">
                <form asp-controller="User" asp-action="GetUserBylastName" method="get">
                    <div class="input-group">
                        <input name="LastName" type="search" class="form-control" placeholder="Nom">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-block" type="submit">Rechercher</button>
                        </div>
                    </div>

                    @*<div class="input-group col-8 mb-3">
                        <div class="input-group-append">
                            <input name="LastName" type="search" placeholder="Nom" class="form-control text-center" />
                        </div>
                        <div class="input-group-append col-4">
                            <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
                        </div>
                    </div>*@
                </form>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="text-center">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">CP</th>
                            <th scope="col">Ville</th>
                            <th scope="col">Supprimer</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @foreach (User u in (ViewBag.users as List<User>))
                        {
                            <tr>
                                <td>@u.Id</td>
                                <td>@u.LastName</td>
                                <td>@u.FirstName</td>
                                <td>@u.UserName</td>
                                <td>@u.Phone</td>
                                <td>@u.Email</td>
                                <td>@u.Address</td>
                                <td>@u.Zip</td>
                                <td>@u.City</td>
                                <td>
                                    <a asp-controller="User" asp-action="UserDelete" asp-route-id="@u.Id">X</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

